.container {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.container>img {
  width: 32px;
  height: 32px;
}

.container:visited {
  color: var(--fg);
}
